---
services:
  nextcloud:
    image: lscr.io/linuxserver/nextcloud:latest
    container_name: nextcloud
    environment:
      - PUID={{ docker_user_uid }}
      - PGID={{ docker_group_gid }}
      - TZ={{ default_tz }}
    volumes:
      - {{ nextcloud_config_volume }}:/config
      - {{ nextcloud_data_volume }}:/data
    ports:
      - {{ nextcloud_https_port }}:443
    restart: unless-stopped
