- name: Install nix packages
  ansible.builtin.package:
    name: "{{ nix_packages }}"
    state: present

- name: Enable nix services
  ansible.builtin.service:
    name: "{{ item }}"
    enabled: true
    state: "started"
  loop: "{{ nix_services }}"

- name: Clone nix scripts repo
  ansible.builtin.git:
    repo: "{{ nix_git_repo }}"
    dest: "{{ nix_repo_dest_path }}"
    version: main
  become: true
  become_user: "{{ base_user.username }}"

- name: Install nixGL
  ansible.builtin.shell: |
    nix profile install github:nix-community/nixGL --impure
  become: true
  become_user: "{{ base_user.username }}"
  loop: "{{ dotfiles_stow_packages }}"

- name: Install fedora profile
  ansible.builtin.shell: |
    cd "{{ nix_repo_dest_path }}/{{ nix_git_relative_path }}"
    git pull
    nix profile install .#fedora
  become: true
  become_user: "{{ base_user.username }}"
  loop: "{{ dotfiles_stow_packages }}"

- name: Run home-manager switch
  ansible.builtin.shell: |
    cd "{{ nix_repo_dest_path }}/{{ nix_git_relative_path }}"
    git pull
    nix run nixpkgs#home-manager -- switch --flake .
  become: true
  become_user: "{{ base_user.username }}"
  loop: "{{ dotfiles_stow_packages }}"

- name: Create nixGL hyprland session
  ansible.builtin.template:
    src: nix-hyprland.desktop.j2
    dest: /usr/share/wayland-sessions/nix-hyprland.desktop
    owner: root
    group: root
    mode: '0755'
