- name: Raspberry pi server playbook
  hosts: all
  gather_facts: true
  become: true
  roles:
    - docker
    - rclone_backup
    - filebrowser
    - pihole
    - wireguard
    - cloudflared
    - cloudflare_ddns
    - uptime_kuma
    - vaultwarden
    - tailscale
    - homeassistant
    - mosquitto
    - mariadb
    - redis
    - nextcloud
    - ocis
    - immich
    - authelia
    - authentik
    - opencloud
    - joplin_server
