---
- name: Enable window_manager coprs
  community.general.copr:
    name: "{{ item }}"
    state: enabled
  loop: "{{ window_manager_coprs }}"


- name: Install window_manager and dependencies packages
  ansible.builtin.package:
    name: "{{ window_manager_packages }}"
    state: present

- name: Build github modules
  ansible.builtin.include_role:
    name: base
    tasks_from: build_from_git
  vars:
    module: "{{ item }}"
  loop: "{{ window_manager_github_modules }}"

- name: Enable window_manager services
  ansible.builtin.service:
    name: "{{ item }}"
    enabled: true
  loop: "{{ window_manager_services }}"
