---
services:
  cloudflare-ddns:
    image: timothyjmiller/cloudflare-ddns:latest
    container_name: {{ cloudflare_ddns_container_name }}
    security_opt:
      - no-new-privileges:true
    network_mode: 'host'
    environment:
      PUID: {{ docker_user_uid }}
      PGID: {{ docker_group_gid }}
    volumes:
      - {{ cloudflare_ddns_config_filepath }}:/config.json
    restart: unless-stopped
