---
services:
  cloudflared:
    image: cloudflare/cloudflared
    container_name: {{ cloudflared_container_name }}
    restart: unless-stopped
    command: tunnel run --protocol quic --token {{ cloudflared_connector_token }}
