#!/bin/sh

export WLR_NO_HARDWARE_CURSORS=1
export GDK_BACKEND=wayland
export CLUTTER_BACKEND=wayland
export XDG_CURRENT_DESKTOP=Hyprland
export XDG_SESSION_TYPE=wayland
export XDG_SESSION_DESKTOP=Hyprland

exec {{ nix_profile_bin_path }}/nixGL {{ nix_profile_bin_path }}/start-hyprland
